body { background: #c5dd4e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 49px; display: flex; }
.block-search-0 { color: #f1024a; font-size: 18px; margin-bottom: 5px; }
.block-database-1 { color: #f76963; font-size: 15px; margin-bottom: 5px; }
.block-cluster-2 { color: #a03700; font-size: 15px; margin-bottom: 5px; }
.block-cluster-3 { color: #dd921d; font-size: 17px; margin-bottom: 5px; }
.block-database-4 { color: #da4b83; font-size: 16px; margin-bottom: 5px; }